@model DepoStok.Models.depo

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>depo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.depoAd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.depoAd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.rafBilgisi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.rafBilgisi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.aciklama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.aciklama)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.konumBilgisi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.konumBilgisi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.depoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
