@model DepoStok.Models.depoTransferDetay

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>depoTransferDetay</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.miktar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.miktar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.depoTransfer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.depoTransfer.transferNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.malzeme)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.malzeme.birim)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.detayId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
