@model DepoStok.Models.irsaliye

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>irsaliye</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.irsaliyeNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.irsaliyeNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.irsaliyeTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.irsaliyeTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.toplamTutar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.toplamTutar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.irsaliyeTipi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.irsaliyeTipi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.aciklama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.aciklama)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.durum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.durum)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cari)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cari.adres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.depo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.depo.depoAd)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.irsaliyeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
