@model DepoStok.Models.cari

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>cari</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.unvan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.unvan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.telefon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.telefon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.adres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.adres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vergiNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vergiNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vergiDairesi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vergiDairesi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.carId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
