@model IEnumerable<DepoStok.Models.cari>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.unvan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.adres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vergiNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vergiDairesi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.unvan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.adres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vergiNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vergiDairesi)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.carId" class="btn btn-sm btn-warning">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.carId" class="btn btn-sm btn-info text-white">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.carId" class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
